@model MdgPPV.Models.ClienteViewModel.TablaClienteViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mdg Seguridad e Higiene Integral-Nuevo Cliente</title>
    <!-- Custom fonts for this template-->
    @Styles.Render("~/bundles/css")
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Home/Index">
                <div class="sidebar-brand-icon">
                    <img alt="mdg" width="100" height="50" src="~/Images/Logo.PNG" />
                </div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="~/Home/Index">
                    <i class="fas fa-home"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Cliente/Index">
                    <i class="fas fa-users"></i>
                    <span>Gestión de Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Usuario/Index">
                    <i class="fas fa-user-cog"></i>
                    <span>Gestión de Usuarios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Informe/Index">
                    <i class="fas fa-file-alt"></i>
                    <span>Informes Técnicos</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="text-center d-none d-md-inline">
                <a href="https://www.linkedin.com/company/mdg-seguridad-e-higiene-integral/">
                    <i class="fab fa-linkedin-in" style="color:darkgray;font-size:20px"></i>
                </a>
                &nbsp;
                <a href="https://www.instagram.com/mdgseguridadehigiene/?r=nametag">
                    <i class="fab fa-instagram" style="color:darkgray;font-size:20px"></i>
                </a>
                &nbsp;
                <a href="https://www.facebook.com/MDGSeguridadEHigiene">
                    <i class="fab fa-facebook" style="color:darkgray;font-size:20px"></i>
                </a>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Salir
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Modificar Datos de Cliente</h1>
                    <p class="mb-4">
                        Modifique la información deseada.
                    </p>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <br />
                        @using (Html.BeginForm("EditarCliente", "Cliente", FormMethod.Post, new { @class = "form-horizontal" }))
                        {

                            @Html.AntiForgeryToken()

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="RazonSocial" style="text-align:end;">Razon Social:</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(d => d.RazonSocial, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.RazonSocial, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="NombreFantasia" style="text-align:end;">Nombre de Fantasía:</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(d => d.NombreFantasia, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.NombreFantasia, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="Direccion" style="text-align:end;">Dirección:</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(d => d.Direccion, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Direccion, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="Cuit" style="text-align:end;">Cuit:</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(d => d.Cuit, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Cuit, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="Telefono" style="text-align:end;">Telefono:</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(d => d.Telefono, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Telefono, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="Email" style="text-align:end;">Email:</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(d => d.Email, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Email, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="Responsable" style="text-align:end;">Responsable:</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(d => d.Responsable, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Responsable, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="Fecha" style="text-align:end;">Fecha:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(d => d.Fecha, "", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(d => d.Fecha, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div style="text-align:center;" class="col-sm-offset-2 col-lg-6">
                                    <input value="Guardar" class="btn btn-primary" type="submit" onclick="guardar()" />
                                    <input type="button" value="Cancelar" class="btn btn-danger" onclick="location.href='@Url.Action("Index","Cliente")';" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; @DateTime.Now.Year - Melisa Vera Chavez</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Finalizar sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Estás seguro que deseas Salir?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="~/Acceso/Login">Salir</a>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js")
</body>
</html>